.card{
    border-radius: 0;
}

.card,
.card-footer{
    background-color: aqua;
    border: none;
}

.card-footer{
    text-align: right;
}

.card.completed, .card.completed .card-footer{
    background-color: #EEE;
    color: #CCC;
}